[Tt]emp/
[Oo]bj/
[Bb]uild/
Dist/

/Library/ScriptAssemblies/
/Library/metadata/
/Library/ShaderCache/

*.csproj
*.sln
*.suo
*.userprefs
*.unityproj
*.pidb
*.booproj
*.user 
*.log
*.dwlt

sysinfo.txt
expanedItems
CurrentLayout.dwlt
guidmapper
/Library/InspectorExpandedItems.asset
