[Tt]emp/
[Oo]bj/
[Bb]uild/
Dist/

Library/ScriptAssemblies/
Library/ShaderCache/
Library/metadata/

*.csproj
*.sln
*.suo
*.userprefs
*.unityproj
*.pidb
*.booproj
*.user 
*.log
*.dwlt

sysinfo.txt
Assets/Package/NGUI/Examples/Atlases/Wooden/Control - Colored Progress Bar.prefab
Library/CurrentLayout.dwlt
Library/expandedItems