*.csproj
*.sln
*.suo
#*.userprefs
*.unityproj

# User-specific files
*.user
*.log
*.dwlt

obj/
Temp/
Dist/
Library/expanedItems/
Library/ScriptAssemblies/
Library/metadata/
Library/ShaderCache/
Library/CurrentLayout.dwlt
Library/guidmapper
Library/InspectorExpandedItems.asset
